* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body{
    background-color: rgb(39, 39, 37);
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
};

/* Estilos del Home */

.toDos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
}

.title{
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
};


/* Lista de Tareas */

.tareas-list {
    width: 600px;  
    min-height: 500px;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
    background-color: #d0d0d5;
};

/*Estilos de Formulario */

.tarea-formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
};

.tarea-input{
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid;
    outline: none;
};

/*Estilos de ToDosList */
.todos-list-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 15px;
}
